@import 'keyframes', 'mixins', 'variables';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .form-container {
    margin-block: auto;
    width: 30%;

    @include responsive($large) {
      width: 50%;
    }

    @include responsive($medium) {
      width: 70%;
    }

    @include responsive($small) {
      width: 80%;
    }
  }
}
