@import 'variables', 'mixins', 'keyframes';

.container {
  display: flex;
  align-items: center;
  height: calc(100% - 60px);
  @include responsive($medium) {
    flex-direction: column;
  }

  .image {
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid gray;

    @include responsive($medium) {
      width: 80%;
      border-right: 0;
      border-bottom: 1px solid gray;
      justify-content: center;
      padding: 10px;
    }

    .image-container {
      width: 80%;
      height: 550px;

      @include responsive($medium) {
        width: 350px;
        height: 350px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .content {
    width: 50%;
    padding: 50px;

    @include responsive($medium) {
      width: 80%;
      padding: 10px;
    }

    .content-controls {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
