<div @pageAnimation class="container">
  <div class="image">
    <div class="image-container">
      <img [src]="product.image?.url" alt="" />
    </div>
  </div>
  <div class="content">
    <h1>{{ product.name }}</h1>
    <h1>{{ product.master?.price | currency }}</h1>
    <p>
      {{ product.description }}
    </p>
    <div class="content-controls">
      <label
        >Stock: <b>{{ product.master?.stock }}</b></label
      >
      <button
        (click)="openDialog()"
        *ngIf="product.master?.stock != 0"
        mat-fab
        #tooltip="matTooltip"
        matTooltip="Add to cart"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
