@import 'variables', 'mixins', 'keyframes';

.product {
  width: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;

  .image-container {
    width: 300px;
    height: 200px;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .body {
    padding: 10px;

    a {
      cursor: pointer;
      border-bottom: 1px solid black;
      color: black;
      text-decoration: none;
      font-size: 22px;
      font-weight: 800;
      @include transition;

      &:hover {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
      }
    }
  }

  .body-container {
    margin-top: 5px;
    display: flex;

    .info {
      width: 100%;
    }
  }
}
